<!--
Maps view  -->
<div id="map-container">
  <div id="map-canvas">
    <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: {lat: 37.7694, lng: -122.4862},
        zoom: 14
      });
    }
    </script>

  </div>
</div>
